<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="New Zealand Home Loans lead manager" />
	<title>@Constants.SiteName</title>
	<link href="~/assets/stylesheets/main.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">@Constants.SiteName</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					@Html.MainMenuActionLink("IMDB250", "Index", "Home", null)
				</ul>
			</div>
		</div>
	</nav>
	@RenderBody()
	@Html.Partial("_Scripts", new ScriptsModel(ViewBag.JSON, ViewBag.Scripts))
</body>
</html>
